[package]
name = "advent_of_code_%YEAR%"
description = "Advent of Code solutions for %YEAR%"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
advent_lib = { workspace = true }
